*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Banner section css */
.chakram-banner{
  position: relative;
  background: url('../src//assets/img/banner-1.webp');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-image 0.5s ease;
}
.banner-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 663px;
  padding-bottom: 40px;
}
.banner-heading{
  font-size: 40px;
  font-weight: 274;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
}
span.banner-heading-span{
  color: var(--text-green);
  border-bottom: 1px solid var(--text-green);
}
.banner-content{
  letter-spacing: 0.2px ;
  line-height: 19px;
  text-align: center;
  max-width: 457px;
}
button.banner-button {
  font-size: 14px;
  font-weight: 510;
  line-height: 17px;
  letter-spacing: 0.6px;
  text-align: center;
  background-color: var(--button-color);
  padding: 8px 24px 8px 24px;
  border: none;
  border-radius: 100px;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}
button.banner-button:hover {
  background-color: var(--button-hover);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
span.scroll-down{
  position: absolute;
  bottom: 2%;
}




/* Section: About us CSS  */
.section-aboutUs{
  height: auto;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: url('../src//assets/img/aboutus-bg.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 60px 0 80px 0;
}
.about-box{
  max-width: 313px;
}
.about-box-heading{
  font-family: var(--font-mulish);
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--text-green);
}
.about-box-content{
  font-family: var(--font-mulish);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-align: center;
  color: var(--text-color);
  padding: 8px;
}

/* Footer CSS  */
footer{
  background-color: var(--text-color);
  color: var(--text-black);
}
.footer-wrapper .copyright-content{
  font-family: var(--font-mulish);
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--text-black);
}
.footer-links .footer-link{
  font-family: var(--font-mulish);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-black);
  cursor: pointer;
}